#square {
  height: 30px;
  width: 30px;
  border: 1px solid black;
  /* transition: 0.2s; */
}

.background {
  background-color: white;
}

.ship-color {
  background-color: white;
  color: white;
}

.player-ship-color {
  background-color: blue;
  color: blue;
}

.player-hit {
  background-color: red;
  color: red;
}

.player-miss {
  background-color: lightgray;
  color: lightgray;
}

.destroyed-ship {
  background-color: black;
}

.background:hover {
  background-color: lightgray;
  z-index: 110;
}
