/* #square {
    color: purple;

    height: 20px;
    width: 20px;
}

.purpleBorder {
    border: 1px solid purple;
}

.blueBorder {
    border: 1px solid blue;
}

.blackBorder {
    border: 1px solid black;
} */

#square{
    height: 20px;
    width: 20px;
    border: 1px solid black;
    
}

.background {
    background-color: white;
}

.ship-color{
    background-color: blue;
}

.player-hit{
    background-color: red;
}

.player-miss {
    background-color: lightgray;
}

.destroyed-ship{
    background-color: black;
}