#root {
  background-image: url("https://wallpaperaccess.com/full/1486722.jpg");
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.WelcomePage buttonA {
  width: 80%;
  height: auto;
  padding: 1rem 0;
}

.WelcomePage buttonB {
  width: 80%;
  height: auto;
  padding: 1rem 0;
}

.WelcomePage buttonC {
  width: 80%;
  height: auto;
  padding: 1rem 0;
}

.WelcomePage {
  background-color: lightcyan;
  min-height: 60vh;
  height: auto;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem 0;
  border-radius: 10px;
}

.WelcomePage button a {
  text-decoration: none;
  color: black;
}

.WelcomePage a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  transition: 0.2s;
}

.WelcomePage a:hover {
  transform: scale(1.1);
}

ol {
  list-style-type: none;
  width: 100%;
  text-align: center;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin-bottom: 1rem;
  text-align: center;
  width: 80%;
}

h3 {
  border-bottom: 1px solid white;
}
